.signup-number-container {
  width: 100%;
  margin: auto;
  height: 100%;
  /* background-image: url(../../assets/images/robot5.png); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-color: var(--orange-3); */
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
}

.back-btn-box {
  display: flex;
}

.signup-number-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 48px;
  margin-top: 60px;
  margin-inline: auto;
}

.input-number-box {
  margin-top: 40px;
  margin-inline: auto;
  background-color: var(--dark-4);
  border-radius: var(--br-30);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.select-container {
  width: 30%;
}

.input-number-box select {
  font-size: var(--font-18);
  color: #fff;
  border: 0;
  background-color: transparent;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  width: 100%;
  margin-left: 10px;
}

.input-number-box select option {
  background-color: var(--dark-2);
  color: #fff;
}

.input-number-box input {
  background-color: var(--dark-2);
  border-radius: var(--br-25);
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px;
  text-indent: 8px;
  font-weight: 600;
  font-size: 17px;
  width: 70%;
}

.input-number-box input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
