.price-box {
  background-color: var(--dark-2);
  color: #fff;
  border-radius: var(--br-20);
  gap: 10px;
  padding: 20px;
}

.inner-price-box {
  width: 165px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.inner-price-box .usdt-logo-wrapper {
  width: 50px;
  height: 50px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 32px;
}

.section-title p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--font-14);
}

.inner-price-box h2 {
  font-size: var(--font-20);
  font-weight: 500;
}
